.text-ida-red {
    color: #B9132B;
}

.uk-heading-medium  {
    font-size: 28px;
    line-height: 34px
}


.uk-accordion-title {
    background-color:#B9132B ;
}

.uk-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 15px;
}

* + .uk-table {
    margin-top: 15px;
}

.uk-table th,
.uk-table td {
    padding: 0px 8px;
}

.uk-table th {
    text-align: left;
}

.uk-table td {

}

.uk-table thead th {
    vertical-align: bottom;
}

.uk-table caption,
.uk-table tfoot {
    font-size: 12px;
    font-style: italic;

}

.uk-table caption {
    text-align: left;
    color: #c53333;
}

.uk-table tbody tr.uk-active {

}

.uk-table-middle,
.uk-table-middle td {
    vertical-align: middle !important;
}

.uk-table-striped tbody tr:nth-of-type(odd) {
    background: #fafafa;
}



.uk-table-hover tbody tr:hover {

}

.uk-panel-box-flo-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid #B9132B ;
    border-left: 3px solid #B9132B ;
    border-right: 3px solid #B9132B ;
    padding: 8px 0px;
    margin: 0px 8px;
    color: #fff;
height: 27px;
}

.uk-panel-box-flo-bottom{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 3px solid #B9132B ;
    border-left: 3px solid #B9132B ;
    border-right: 3px solid #B9132B ;
    padding: 8px 0px;
    margin: 0px 8px;

}

.uk-panel-box-flo {
    border-left: 3px solid #B9132B ;
    border-right: 3px solid #B9132B ;
    border-top: 0px;
    border-bottom: 0px;
    padding: 8px 0px;
    margin: 0px 8px;
    height: 25px;

}


.uk-icon-check-square {
    color: #40b30c;
}


